**/*.iml
**/.idea
**/target
**/**/gwt-unitCache
**/**/deploy
**/**/logs
**SDBG.launch
**/**/potatoFace
.project
.settings
/logs 
.classpath  
uniapp/src/main/webapp/uniapp/
/npm/node_modules/
lk.iml
/uniapp/src/main/java/ru/rti/uniapp/server/ServerApplication.java
/uniapp/src/main/java/ru/rti/uniapp/server/controller/ApiController.java
/gwt-dnd/gwt-dnd.iml
/gwt-dnd/.gitignore
/gwt-dnd/target 
npm/package-lock.json
eip_client
.mvn/
mvnw
mvnw.cmd